[submodule "Savour-Button-API"]
	path = Savour-Button-API
	url = https://github.com/chrispypatt/Savour-Button-API.git
[submodule "savour-api-lib"]
	path = savour-api-lib
	url = https://github.com/chrispypatt/savour-api-lib.git
